@import "tailwindcss";







login-register
  
  

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f5f5f5;
    color: #111;
  }

  input, select, textarea {
    background-color: #ffffff;
    color: #111;
    border-color: #ccc;
  }
}
 main
