/*@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(28, 30, 160, 0.87);
  background-color: #f9fafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: #535bf2;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #736dc7;
  color: #0b0b0b;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  border-color: #0d15ba;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, select, textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #cf0e0e;
  color: #fdf8f8;
  width: 100%;
  box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f6f0f0;
    color: #5d6dfb;
  }
  input, select, textarea {
    background-color: #fefefe;
    color: #111;
    border-color: #ccc;
  }
}
